<h1>Add Customer</h1>
<form action="/create" method="POST">
  <table>
    <col width="100">
      <col width="500">
        <tr>
          <td>E-mail:</td>
          <td>
            <input type="email" name="link[email]" required>
          </td>
        </tr>
        <tr>
          <td>Name:</td>
          <td>
            <input type="text" name="link[name]" required>
          </td>
        </tr>
        <tr>
          <td>Comment:</td>
          <td>
            <input type="text" name="link[comment]">
          </td>
        </tr>
  </table>
  <br>
  <input type="submit">
</form>

<p><a href="/">Home</a></p>
